
.navigasi {
  overflow: hidden;
  background-color: brown;
}



nav h1 {
  float: left;
  color: white;
  padding-left: 10px;
}

nav ul {

  list-style-type: none;
  float: right;
}


nav li {
 float: left;
}

nav li a {
  color: white;
  display: block;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 0px;
  text-align: center;
  text-decoration: none;
}
